html,body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
.left-img{
    background-image: url("../image/bg-shape-left.webp");
	background-size: cover;
	padding-top: 40em;
	width: 44%;
	float: left;
}
.right-img{
	background-image: url("../image/bg-shape-right.webp");
	background-size: cover;
	padding-top: 54em;
	width: 56%;
	float: left;
}